html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
}

.header .header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
}

.header .header__logo {
  margin: 0 41px 0 0;
}

.header .header__button {
  background-color: transparent;
  border: none;
}

.header .header__button:hover, .header .header__button:focus {
  opacity: .8;
}

.header .header__button:active {
  opacity: .5;
}

.header .header__menu-list,
.header .header__logo-container {
  display: flex;
  align-items: center;
}

.header .header__item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
}

.header .header__menu-item:not(:last-of-type) {
  margin: 0 34px 0 0;
}

.name {
  display: flex;
}

.name .name__header-span {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
}

.name .name__header {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

.name .name__content {
  width: 100%;
  padding: 335px 0 0 64px;
  background-color: #F1E4E6;
}

.name .name__header {
  position: relative;
  padding: 0 0 0 28px;
}

.name .name__header::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
  left: -12px;
}

.name__header-span {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
}

.stock {
  padding: 63px 0 97px 0;
}

.stock .stock__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stock .stock__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 260px;
  background-image: url(../img/stock-women.jpg);
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
}

.stock .stock__item:not(.stock__item--last) {
  margin: 0 0 30px;
}

.stock .stock__item--last {
  width: 100%;
}

.stock .stock__item-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
}

.stock .stock__item-category {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
}

.fetured {
  text-align: center;
}

.fetured .fetured__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
  font-style: normal;
  margin: 0 0 48px;
}

.fetured .fetured__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}

.fetured .fetured__item {
  width: 360px;
  background-color: #F8F8F8;
  position: relative;
}

.fetured .fetured__item:nth-child(1), .fetured .fetured__item:nth-child(2), .fetured .fetured__item:nth-child(3) {
  margin: 0 0 30px;
}

.fetured .fetured__item:hover .fetured__item-img,
.fetured .fetured__item:focus .fetured__item-img {
  filter: brightness(55%);
}

.fetured .fetured__item:hover .fetured__item-button,
.fetured .fetured__item:focus .fetured__item-img {
  display: block;
}

.fetured .fetured__item-button {
  display: none;
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  padding: 11px 16px 8px 13px;
  background-color: transparent;
  border: 1px solid #FFF;
}

.fetured .fetured__item-button .fetured__item-button:hover {
  background-color: #F16D7F;
}

.fetured .fetured__item-header {
  margin: 0 0 12px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.fetured .fetured__item-text {
  margin: 0 0 18px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.fetured .fetured__item-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.fetured .fetured__item-container {
  padding: 25px 29px 20px 16px;
}
/*# sourceMappingURL=style.css.map */