.fetured {
    text-align: center;

    .fetured__text {
        @include font(14px, 17px, 800);
        margin: 0 0 48px;
    }

    .fetured__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: left;
    }

    .fetured__item {
        width: 360px;
        background-color: $gray-bkg-color;
        position: relative;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            margin: 0 0 30px;
        }

        &:hover .fetured__item-img,
        &:focus .fetured__item-img {
            filter: brightness(55%);
        }


        &:hover .fetured__item-button,
        &:focus .fetured__item-img {
            display: block;
        }
    }

    .fetured__item-button {
        display: none;
        position: absolute;
        top: 190px;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 14px;
        line-height: 17px;
        color: $white-color;
        padding: 11px 16px 8px 13px;
        background-color: transparent;
        border: 1px solid $white-color;

        .fetured__item-button:hover {
            background-color: $pink-color
        }
    
    }

    .fetured__item-header {
        margin: 0 0 12px;
        @include font(13px, 16px);
        text-transform: uppercase;
    }

    .fetured__item-text {
        margin: 0 0 18px;
        @include font(14px, 17px, 300);
    }

    .fetured__item-price {
        @include font(16px, 19px, 300);
        font-size: 16px;
        line-height: 19px;
        color: $pink-color;
    }

    .fetured__item-container {
        padding: 25px 29px 20px 16px;
    }

}