.name {
    display: flex;

    .name__header-span {
        @include font(32px, 38px, 700);
        color: $pink-color;
    }
    
    .name__header {
        @include font(48px, 58px, 900);
        text-transform: uppercase;
    }
    
    .name__content {
        width: 100%;
        padding: 335px 0 0 64px;
        background-color: $pink-background;
    }
    
    .name__header {
        position: relative;
        padding: 0 0 0 28px;
    }
    
    .name__header::before {
        position: absolute;
        content: '';
        width: 12px;
        height: 100%;
        background-color: $pink-color;
        left: -12px;
    }
}

.name__header-span {
    @include font(32px, 38px, 700);
    color: $pink-color;
}