.stock {
    padding: 63px 0 97px 0;

    .stock__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .stock__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 260px;
        background-image: url(../img/stock-women.jpg);
        text-align: center;
        color: $white-color;
        text-transform: uppercase;

        &:not(.stock__item--last) {
            margin: 0 0 30px;
        }
    }
    .stock__item--last {
        width: 100%;
    }

    .stock__item-name {
        @include font(18px, 22px);
    }

    .stock__item-category {
        @include font(24px, 29px, 700);
        color: $pink-color;
    }
}